<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.TeacherDao">
<!--  插入教师  -->
    <insert id="insertTeacher" parameterType="Teacher">
        insert into teacher(teacher_no,teacher_password,teacher_name) values(#{teacher_no},#{teacher_password},#{teacher_name})
    </insert>
<!--  删除教师  -->
    <delete id="deleteTeacher" parameterType="String">
        delete from teacher where teacher_no = #{teacher_no}
    </delete>
<!--  更新教师信息  -->
    <update id="updateTeacher" parameterType="Teacher">
        update teacher
        <set>
            <if test="teacher_name != null and teacher_password != ''">
                teacher_name = #{teacher_name}
            </if>
            <if test="teacher_password != null and teacher_password != ''">
                teacher_password = #{teacher_password}
            </if>
        </set>
    </update>

<!--  根据账号查询教师信息  -->
    <select id="selectTeacherByNo" parameterType="String" resultMap="">
        select teacher.*, position.position_name, position.position_info from
        teacher, position
        where teacher.position_no = position.position_no
    </select>

    <resultMap id="TeacherWithPosition" type="Teacher">
        <collection property="positions" column="position_no" ofType="Position">
        </collection>
    </resultMap>
</mapper>